{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}


{% block style %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        button:hover{
            background-color: #505050;
            color: white;
        }
    </style>

{% endblock %}


{% block body %}
    <div class="links">
        <ul>
            <li class="indexnav" style="float: left;"><b>Welcome {{name}}</b></li>
            <!--<li style="float: left; border-right: 1px solid white; margin-left: 25%;"><a href="#">Global</a></li>-->
            <li style="float: left; border-right: 1px solid white; margin-left: 25%;"><a href="/post">Post</a></li>
            <li style="float: left; border-right: 1px solid white;"><a href="/history">History</a></li>
            <li style="float: left; border-right: 1px solid white;"><a href="/inbox">Inbox</a></li>
            <li style="float: left; border-right: 1px solid white;"><a href="/movies">Movies</a></li>
            <li><a href="/logout">Log Out</a></li>
            <!--<li><a href="/register">Register</a></li>-->
        </ul>
    </div>
    <br>
    <div class="table2">
    <table class="table table-dark table-stripped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Posted By</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                {% set id = row["id"] %}
                {% set message = row["message"] %}
                {% set name1 = row["name"] %}
                {% set time = row["time"] %}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{message}}</td>
                        <td>{{name1}}</td>
                        <td>{{time}}</td>
                    </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <td colspan="3"></td>
            <td>{# #}</td>
        </tfoot>
    </table>
    </div>
    <div style="background-color: #a0a0a0; margin-top: 120px; color: white; padding: 25px;">
        <h3>Want to join in an activity above posted by someone?</h3>
        <hr>
        <h4>Please provide the id and timestamp below (yyyy-mm-dd hh-mm-ss) to send a message</h4><br>
        <form action="/" method="post">
            <h3>Id</h3>
            <input type="text" name="id">
            <h3>Timestamp</h3>
            <input type="text" name="time">
            <button type="submit">Join</button>
        </form>
    </div>
{% endblock %}